<h1><%= @pref %> 今日の天気</h1>

<div class="result">
  <%@param.each do |k, v| %>
    <%= k %> : <%= @wdata.send(k) %>
   <% end %>
   <%@tparam.each do |k, v| %>
    <%= k %> : <%= @wdata.send(k) %>
   <% end %>
</div>

